# will get you binary compiled with Xcode 9.3
binary "https://github.com/vidible/OneMobileSDK-releases/releases/download/2.23/OneMobileSDK.json" == 9.3

# will get you binaru compiled with Xcode 9.2
# binary "https://github.com/vidible/OneMobileSDK-releases/releases/download/2.23/OneMobileSDK.json" == 9.2
